<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,  user-scalable=no"
    />
    <meta name="description" content="Guess the movie title, Wordle-style!" />
    <title>Movidle</title>

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/keyboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/light-mode.css') }}"
      id="light-mode-css"
      disabled
    />

    <!-- Google Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/lottie-web@5.10.0/build/player/lottie.min.js"></script>
  </head>
  <body>
    <!-- Header / Navigation -->
    <header role="banner">
      <h1 tabindex="0">Movidle</h1>
      <div class="menu">
        <button
          id="howToPlayButton"
          class="help-button"
          aria-label="How to Play"
        >
          <div id="lottie-howto-icon" style="width: 35px; height: 35px"></div>
        </button>
        <div class="dropdown">
          <button
            id="help-toggle"
            class="dropbtn"
            aria-label="Show Hint Options"
          >
            <div id="lottie-help-icon" style="width: 50px; height: 50px"></div>
          </button>
          <div id="hintDropdown" class="dropdown-content">
            <button id="getHintButton">Get Hint</button>
            <button id="fillLetterButton">Fill a Letter</button>
          </div>
        </div>
        <button id="theme-toggle" aria-label="Toggle theme">
          <div id="lottie-theme-icon" style="width: 50px; height: 50px"></div>
        </button>
      </div>
    </header>

    <!-- Game Input Area -->
    <div class="scalable-wrapper">
      <main id="game-area" class="input-section">
        <div id="input-container"></div>
      </main>
    </div>

    <div class="keyboard-wrapper">
      <section class="keyboard">
        <div class="row" id="row1"></div>
        <div class="row" id="row2"></div>
        <div class="row" id="row3"></div>
      </section>
    </div>

    <!-- Footer -->
    <footer role="contentinfo">
      <p>&copy; 2025 Movidle. All rights reserved.</p>
    </footer>

    <!-- Game Word and Scripts -->
    <script>
      window.targetWord = "{{ word|e }}";
      window.gameHints = {{ hints | tojson }};
      console.log("Target word:", window.targetWord);
    </script>
    <script src="{{ url_for('static', filename='js/check.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/light-mode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  </body>
</html>
